%nav.navbar.navbar-default
  .container-fluid
    / Twitti and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "#"} Twitti
    / Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      
      %ul.nav.navbar-nav
      
        %li.active
          %a{:href => "#"}
            Home
            %span.sr-only (current)
      
        %li
          %a{:href => "#"} Explore
      
      %form.navbar-form.navbar-right{:role => "search"}
        .form-group
          %input.form-control{:placeholder => "Search", :type => "text"}/
        %button.btn.btn-default{:type => "submit"} Submit
      %ul.nav.navbar-nav.navbar-right
        
        %li
          %a{:href => "#"}Tweit
        %li.dropdown
          %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            Dropdown
            %span.caret
        
          %ul.dropdown-menu
            %li.divider{:role => "separator"}
            %li
              %a{:href => "#"} Profile
            
            %li.divider{:role => "separator"}  
            %li
              %a{:href => "#"} Help
            
            %li.divider{:role => "separator"}
            %li
              %a{:href => "#"} Settings
            
            %li.divider{:role => "separator"}
            %li
              %a{:href => "#"} Log out (;_;)
    / /.navbar-collapse
  / /.container-fluid
